:root {
    --font-size-page-title: 20pt;
    --font-size-section-title: 14pt;
    --font-size-entry-title: 11pt;
    --font-size-normal: 10pt;
    --font-size-small: 9pt;
	--font-size-xs: 8pt;

	--font-family: tohoma, 'Nunito', system-ui, sans-serif;
	--font-family-page-title: serif;

    --col-fg: black;
    --col-bg: white;

    --col-primary: rgb(17, 85, 204);
	--col-link: rgb(66, 120, 214);
}

@font-face {
	font-family: 'Nunito';
	src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
}

@font-face {
	font-family: 'Nunito';
	font-style: italic;
	src: url(../assets/fonts/Nunito-Italic-VariableFont_wght.ttf);
}

* {
	box-sizing: border-box;
}

body, html {
	margin: 0 auto;

	font-size: var(--font-size-normal);

    font-family: var(--font-family);
    font-optical-sizing: auto;
    font-weight: normal;
    font-variation-settings: "wdth" 100;

	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

@media not print {
	html {
		width: 8.5in;
	}
}

body {
	background: var(--col-bg);
	color: var(--col-fg);
	/* line-height: 1.2; */
}

body.redact .personal, body.redact .personal * {
	background: black!important;
	color: black!important;
}

p {
	margin: 0;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

h2, h3 {
	color: var(--col-primary);
	margin-top: 0.25em;
}

h1 {
	font-size: var(--font-size-page-title);
	font-family: var(--font-family-page-title);
}

h2 {
	font-size: var(--font-size-section-title);
}

h3 {
	font-size: var(--font-size-entry-title);
}

/* h1::first-letter, h2::first-letter, h3::first-letter {
	font-size: 140%; 
	font-weight: bold;
} */

table, tbody, th, tr {
	width: 100%;
}

td {
	padding: 0;
}

svg {
	vertical-align: middle;
}

body.no-icons {
	& svg, & img, & .is-icon {
		display: none!important;
	}
}

a {
	color: var(--col-link);
}

small, .small {
	font-size: var(--font-size-small);
}

.text-normal { font-size: var(--font-size-normal); }
.text-small { font-size: var(--font-size-small); }
.text-xs { font-size: var(--font-size-xs); }

ol, ul {
	margin: 0;
	padding-left: 1.25rem;
}

li {
	margin-left: 0;
	padding-left: 0;
}

section[data-item-count="0"] {
	display: none;
}

article, section {
	/** Printing will go to the next page if needed rather than cutting sections in half. */
	page-break-inside: avoid;
	break-inside: avoid;
	page-break-before: auto;
	break-before: auto;
}

/* li::marker {
	color: var(--col-primary);
} */

.text-center { text-align: center; }

.split {
	display: grid;
	gap: 1rem;
	grid-template-columns: auto auto;
}

.split-favor-left { grid-template-columns: 70% auto; }
.split-favor-right { grid-template-columns: auto 70%; }
.split-even { grid-template-columns: repeat(2, 1fr); }

.grow { flex-grow: 1; }

hr {
	border-top-width: 1px;
	border-bottom-width: 0;
	color: #0008;
	margin: 2px 0;
}

.section-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1ch;
	border-bottom: 2px solid #00000044;

	& > svg {
		font-size: 1.5em;
		color: #000a;
	}

	& > sub {
		flex-grow: 1;
		text-align: right;
		bottom: 0;
		position: static;
		align-self: flex-end;
		height: 1em;
		font-size: var(--font-size-small);
	}
}

.text-primary {
	color: var(--col-primary);
}

/** Apply to links to expand their clickable region. */
.ez-click {
	position: relative;

	&::after {
		position: absolute;
		content: '';
		inset: -0.5em;
	}
}

@media print {
	astro-dev-toolbar {
		display: none;
	}

	/* a {
		text-decoration: none;
	} */
}